<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
    #grad {
  background-image: linear-gradient(black, blue);
}
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

</head>
<body id="grad">
      <a href="/home/{{name}}" style="color: white; text-decoration: none;margin-left: 1460px;">Home</a>
      <h1 style="color: white;text-align: center;">QuantifiedSelf</h1><br>
      <br>
      <p style="color:white">The quantified self refers both to the cultural phenomenon of self-tracking with technology and to a community of users and makers of self-tracking tools who share an interest in "self-knowledge through numbers". Quantified self practices overlap with the practice of lifelogging and other trends that incorporate technology and data acquisition into daily life, often with the goal of improving physical, mental, and emotional performance. The widespread adoption in recent years of wearable fitness and sleep trackers such as the Fitbit or the Apple Watch, combined with the increased presence of Internet of things in healthcare and in exercise equipment, have made self-tracking accessible to a large segment of the population.

        Other terms for using self-tracking data to improve daily functioning are auto-analytics, body hacking, self-quantifying, self-surveillance, sousveillance (recording of personal activity), and personal informatics</p>
        <p style="color: white;">Like any empirical study, the primary method is the collection and analysis of data. In many cases, data are collected automatically using wearable sensors, not limited to, but often worn on the wrist. In other cases, data may be logged manually.

            The data are typically analyzed using traditional techniques such as linear regression to establish correlations among the variables under investigation. As in every attempt to understand potentially high-dimensional data, visualization techniques can suggest hypotheses that may be tested more rigorously using formal methods. One simple example of a visualization method is to view the change in some variable over time.</p>
        <p style="color: white;">A major application of quantified self has been in health and wellness improvement. Many devices and services help with tracking physical activity, caloric intake, sleep quality, posture, and other factors involved in personal well-being. Corporate wellness programs, for example, will often encourage some form of tracking. Genetic testing and other services have also become popular.

            Quantified self is also being used to improve personal or professional productivity, with tools and services being used to help people keep track of what they do during the workday, where they spend their time, and whom they interact with.
            
            Another application has been in the field of education, where wearable devices are being used in schools so that students can learn more about their own activities and related math and science. Many start-up companies occupy the market right now[when?]. Most of them help track data for some type of health pattern, be it sleep or asthma. However, there are bigger companies such as Apple and Google (Fitbit) that occupy some of the space in the market.</p>
        <p style="color: white;">Many of these self-tracking applications or technologies are compatible with each other and other websites so people can share information with one another.[citation needed] Each technology may integrate with other apps or websites to show a bigger picture of health patterns, goals, and journaling. For example, one may figure out that migraines were more likely to have painful side effects when using a particular migraine drug. Or one can study personal temporal associations between exercise and mood.

            The quantified self is also demonstrating to be a major component of "big data science", due to the amount of data that users are collecting on a daily basis. Although these data set streams are not conventional big data, they become sites for data analysis projects, that could be used in medical-related fields to predict health patterns or aide in genomic studies. Examples of studies that have been done using QS data include projects such as the DIYgenomics studies, the Harvard's Personal Genome Project, and the American Gut Microbiome Project.</p>
        <small style="color: white;margin-left: 1397px;">source : Wikipedia</small>
        </body>
</html>